<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Express • TodoMVC</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/app.css">
</head>

<body>
  <section class="todoapp">
    <nav class="nav">
      <ul>
        <li class="user"><%= user.name || user.username || user.email %></li>
        <li>
          <form action="/logout" method="post">
            <button class="logout" type="submit">Sign out</button>
          </form>
        </li>
        <li>
          <a href="/todo/new">New task</a>
        </li>
      </ul>
    </nav>
  </section>
  <section class="todos">
    <div class="all_todos" id="todo_container">
      <% todos.forEach(todo => { %>
      <%- include("./partials/todo", { todo: todo }) %>
      <% }); %>
    </div>
  </section>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/socketio_client.js"></script>
</body>

</html>