<% title = "Home" %>
<section class="todoapp">
  <nav class="nav">
    <ul>
      <li class="user"><%= user.name || user.username || user.email %><%= user.id %></li>
      <li>
        <form action="/logout" method="post">
          <button class="logout" type="submit">Sign out</button>
        </form>
      </li>
      <li>
        <a href="/todo/new">New task</a>
      </li>
    </ul>
  </nav>
</section>
<section class="todos">
  <div class="all_todos" id="todo_container">
    <% todos.forEach(todo => { %>
    <%- include("./partials/todo", { todo: todo }) %>
    <% }); %>
  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/socketio_client.js"></script>