<% title = "New Todo" %>

<section class="prompt">
  <h3>New Todo</h3>
  <form action="/todo/create" method="post">
    <section>
      <label for="title">Title</label>
      <input id="title" name="title" type="text" autocomplete="title" required autofocus>
    </section>
    <button type="submit">Create Todo</button>
  </form>
</section>