<% title = "Signup" %>

<section class="prompt">
  <h3>todos</h3>
  <h1>Sign Up</h1>
  <form action="/signup" method="post">
    <section>
      <label for="username">Username</label>
      <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section>
      <label for="new-password">Password</label>
      <input id="new-password" name="password" type="password" autocomplete="new-password" required>
    </section>
    <section>
      <label for="confirm-password">Confirm Password</label>
      <input id="confirm-password" name="confirm_password" type="password" autocomplete="confirm-password" required>
    </section>
    <button type="submit">Sign Up</button>
  </form>
  <hr>
  <p class="help">Already have an account? <a href="/login">Login</a></p>
</section>